@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
}

.header .left-links {
  list-style: none;
  display: flex;
  gap: 16px;
}

.left-links li a {
  text-decoration: none;
  color: gray;
}

.header .right-links {
  list-style: none;
  display: flex;
  gap: 16px;
  text-align: center;
  padding: 0px 40px 0px 40px;
}

.right-links li a {
  text-decoration: none;
  color: gray;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
  display: flex;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
